.footer {
  background-color: #ffffff;
  background-image: url("/img/double-bubble-outline.png");
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14),
    0px -1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #313131;
  flex-shrink: 0;
  min-height: 50px;
  padding-top: 10px;
  text-align: center;
  z-index: 1;
}
