.container {
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

.container img {
  margin: 0 auto;
  max-width: 80%;
}

.container h6 {
  font-family: "Fondamento", cursive;
  margin-top: 5px;
}
