.container {
  margin: 0 auto;
}

.menuContainer {
  margin: 0 !important;
  width: 100% !important;
}

.menuContainer > div {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}