.menuItemContainer {
    display: inline-block;
    text-align: center;
}

.menuItemContainer img.shield {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.menuItemContainerMini img.shield {
    height: 100px;
    width: 100px;
}

.menuItemContainer h6 {
    color: #ffffff;
    font-family: 'Fondamento', cursive;
}